@import url('Downloads/poppins');

body{
    font-family: 'poppins',sans-serif ;

}
img{
    height: 45px;
    width: 50px;
}
a{
    color: black;
    text-decoration: none;
    float:right;
    display: flex;
    font-weight: bold;
    padding-right: 40px;
    flex-direction: row-reverse;
}
.city{
    float: right;
    height: 400px;
    width: 40%;
    padding: 40px; padding-top: 1px; padding-right: 25px;
}
.burger{
font-size: 20px;
font-weight: bolder;
left: 1px; margin-top: 1px;
}
.home{
    text-decoration: underline solid coral 5px;
}
nav{
    position: absolute;
    display: flex;
    color: black;
    top: 20px;
    right: 40px;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    letter-spacing: normal;
}
.basket{
    height: 20px; width: 20px;
}
h1{
    display: block;
    margin-left: 20px; padding-top: 30px;
    height: 100px;
}
h4{
    display: block;
    margin-left: 20px;
}
.order{
    background-color:coral;
    border: solid 5px coral; border-radius:  20px 20px 0px 20px;
    text-align: center;
    height: 20px; 
    width: 80px;
    font-size: 11px;
    margin: 20px;
    color: #E1EBE6;
}
.diagonal{
    background-image: -webkit-linear-gradient(160deg,#F6B400 50%, white 50%);
     height: 500px;
}

.row2 {
    display: inline;
    height: 300px;margin: 0px;  align-items: center;
    width: 950px;
    text-align: center; margin: 0px;
    display: flex;
    background-color: rgb(249, 255, 240);

}
.containers{
    align-items: center;
    margin: 100px;
}

.row2 .a, .c{
    display: inline-block;
    padding: 20px;  
    height: 150px; width: 150px;
    font-size: 10px; margin: 20px;
    border: 1px solid black; border-radius: 5px;
    color: rgb(5, 5, 5);
   
}
.row2 .b{
    display: inline-block;
    padding: 20px; 
    height: 250px; width: 150px;
    font-size: 10px; margin: 20px;
    border: 1px solid black; border-radius: 5px;
    color: rgb(5, 5, 5);
}

 .containers{
    display: inline;
}
.row3 {
    height: 800px;
}
#content{
    margin: 20px;
    border-top: 10px solid white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline  coral;
}



.menu1, .menu2{
    display: flex;
    margin: 50px;
}

.one, .two, .three, .four, .five, .six {
    background-color: white;
    text-align:center;
    padding: 0px; 
    width: 50%;
    margin: 3%;
    height: 270px;  border-radius: 15px; border: 3px;
    box-shadow:  0px 4px 3px 0px rgba(0, 0, 0, 0.5);
}
.one, .two, .three, .four, .five, .six p{
    font-size: 12px;
}

.row3 .container img{
    height: 100px;
    width: 130px;
}

.row4 h4{
    font-size: 20px;
}
.row4 span{
    font-size: 30px;
    padding: 10px 30px;
    font-weight: bolder;
    height: 30px;
    display: block;
}
.row4{
background-color: rgb(242, 250, 241);
display: flex;
}
.row4 img{
    height: 500px;
    width: 500px;
}
.span{
flex-basis: 100%;    
}
.row4img{
display: flex;
flex-direction: column;
flex-basis: 100%;
padding: 0px;

}
.row5{
    background-color: #F6B400;
    height: 500px; 
}
.row5 > img{
    height: 20px;
    width: 50px;
}
.row5 p{
    font-size: 20px;
    font-weight: bolder;
    padding:  0px 70px; padding-top: 20px;
}
.row5 .screenshot{
    float: right;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
}
.row5 .playstore{
    height: 100px;
    width: 300px;
}
.row6{
    background-color: rgb(248, 250, 245);
    height: 300px;
}
.aref{
    position: absolute;
    display: flex;
    align-items: left;
    flex-direction: column;
    color: black;
    font-size: 20px;
    padding-left: 200px;


}
#copyright {
   display: inline;

}
#design {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 0px;

}
#burger span{
    top: 20px;
    font-size: 30px;
    font-weight: bolder;
}
.row7 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#bottom h4{
    padding-left: 400px;
}
#bottom .email p {
    width: 250px; height: 17px;
    float: right;
    border: 1px solid black; border-radius: 5px;
    padding: 1px; 
    margin-right: 10px;
  }
.email span{
    margin-right: 1px;
}
  #bottom{
      display: inline-block;
  }