iframe{
    width: 50px;
    height: 50px;
    display: inline;
    position: relative;
  
    
}
.burger{
    font-size: 30px;
font-weight: bolder;
font-style: oblique;
}
ul{
    text-align: left;

 }


h1{
    display: block;
    margin-left: 20px;

}
h4{
    display: block;
    margin-left: 20px;
}
ul{
    float: right;
    display: inline-flex;
    border: 10px ;
  
    
}
.order{
    background-color:coral;
    border: solid 10px coral; border-radius:  20px 20px 0px 20px;
    text-align: center;
    height: 20px;
    width: 80px;
    margin: 20px;
    text-decoration: white;
    
    
}
.diagonal{
    background-color: white;
  background-image: -webkit-linear-gradient(160deg,#F6B400 50%, white 50%);
  min-height: 200px;
}
#b1{
    position: absolute;
    right: 200px;
    height: 200px;
    width: 100px;
  
  
}